{% extends 'base.html' %}

{% block title %}
{{ bird.species }}
{% endblock  %}

{% block content %}
<h1>{{ bird.species }} Details!</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ bird.species }}:</span>
                <p>Diet: {{ bird.likes }}</p>
                <p>Native to: {{ bird.native_to }}</p>
            </div>
        </div>
            
    </div>
    <div class="col s6">
        <form action="{% url 'add_spotting' bird.id %}" method="POST">
            {% csrf_token %}
            {{ spotting_form.as_p }}
            <input type="submit" class="btn" value="Record Spotting">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Time Of Day</th>
                </tr>
            </thead>
            <tbody>
                {% for spotting in bird.spotting_set.all %}
                <tr>
                    <td>{{spotting.date}}</td>
                    <td>{{spotting.location}}</td>
                    <td>{{spotting.get_time_of_day_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
    <div class="row">
        <div class="col s6">
            <h3>{{ bird.species }}'s Habitats</h3>
            {% if bird.habitats.count %}
            {% for habitat in bird.habitats.all %}
                <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ habitat.name }}
                    </span>
                    <form action="{% url 'remove_habitat' bird.id habitat.id %}" method="delete">
                    {% csrf_token %}
                        <button type="submit" class="btn">Remove Habitat</button>
                    </form>
                </div>
                </div>
            {% endfor %}
            {% else %}
            <h5>No Habitats set! :(</h5>
            {% endif %}
        </div>
    </div>
    <!-- Available habitats will come after this line -->
    <div class="col s6">
        <h3>Available Habitats</h3>
        {% if habitats.count %}
            {% for habitat in habitats.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {{ habitat.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_habitat' bird.id habitat.id %}" method="post">
                    {% csrf_token %}
                        <button type="submit" class="btn">Add Habitat</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <h5>{{bird.species}} already has all Habitats available</h5>
        {% endif %}
    </div>


    <script>
        const dateEl = document.getElementById('id_date');
            M.Datepicker.init(dateEl, {
                format: 'yyyy-mm-dd',
                defaultDate: new Date(),
                setDefaultDate: true,
                autoClose: true
        });
        const selectEl = document.getElementById('id_time_of_day');
            M.FormSelect.init(selectEl);
    </script>
{% endblock  %}