{% extends 'base.html' %}

{% block title %}
All Birds
{% endblock  %}

{% block content %}
<h1>All Spotted Birds!</h1>

    {% for bird in birds %}
        <div class="card">
            <a href="{% url 'detail' bird.id %}">
                <div class="card-content">
                    <span><h4>{{ bird.species }}</h4></span>
                    <p class="bird-info">Diet: {{ bird.likes }}</p>
                    <p class="bird-info">Native to: {{ bird.native_to }}</p>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock  %}